<div class="change-password-window">
    <form class="form" id="change-password">
        <div class="row">
            <label for="old-password">Старий пароль</label>
            <input type="text" name="old-password" id="old-password" required>
        </div>
        <div class="row">
            <label for="new-password">Новий пароль</label>
            <input type="text" name="new-password" id="new-password" required>
        </div>
        <div class="row">
            <label for="name">Повторення нового паролю</label>
            <input type="text" name="repeating-new-password" id="repeating-new-password" required>
        </div>

        <div id="message"></div>
        <button class="btn" id="change-password">Змінити пароль</button>
    </form>
</div>