{% extends "layout.html" %}

{% block title %}
    Golovka - Обліковий запис
{% endblock %}

{% block main %}
    <section class="block-section">
        <div class="block-title">
            Обліковий запис
        </div>
        <div class="profile-section">
            <div class="profile-window">
                <div class="profile-nav">
                    <ul class="profile-links">
                        <li data-target="main-info" class="active"><i class="bi bi-person-fill"></i> Головна інформація</li>
                        <li data-target="change-password"><i class="bi bi-shield-lock-fill"></i> Змінити пароль</li>
                        <li data-target="my-purchases"><i class="bi bi-bag-check-fill"></i> Мої покупки</li>
                        
                        {% if user.admin %}
                        <a href="{{ url_for('admin') }}"><li data-target="admin-menu"><i class="bi bi-gear-fill"></i> Адмін панель</li></a>
                        {% endif %}

                        <a href="{{ url_for('logout') }}"><li><i class="bi bi-box-arrow-left"></i> Вийти</li></a>
                    </ul>
                </div>
                <div class="profile-content">
                    <div class="main-info-window">
                        <div class="col">
                            <form class="info-form" id="main-user-info">
                                <div class="form-title">
                                    Загальна інформація
                                </div>
                                
                                <div class="row">
                                    <label for="id">ID</label>
                                    <input type="text" name="id" id="id" value="#{{ user.id }} {% if user.admin %}(Адміністратор){% endif %}" readonly disabled>
                                </div>
                                <div class="row">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" value="{{ user.email }}" readonly disabled>
                                </div>

                                <div class="form-title">
                                    Інформація для доставки
                                </div>

                                <div class="user-main-info">
                                    <div class="col">
                                        <div class="row">
                                            <label for="email">Ім'я</label>
                                            <input type="text" name="email" id="email">
                                        </div>
                                        <div class="row">
                                            <label for="email">Прізвище</label>
                                            <input type="text" name="email" id="email">
                                        </div>
                                        <div class="row">
                                            <label for="email">По батькові</label>
                                            <input type="text" name="email" id="email">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <label for="city">Місто</label>
                                            <input type="text" name="city" id="city">
                                        </div>
                                        <div class="row">
                                            <label for="adress">Адреса почтового відділення</label>
                                            <input type="text" name="adress" id="adress">
                                        </div>
                                        <div class="row">
                                            <label for="email">Номер телефону</label>
                                            <input type="text" name="email" id="email">
                                        </div>
                                    </div>
                                </div>
                                <div id="message"></div>
                                <button class="btn" type="submit">Записати інформацію</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}